@import '../../../styles/cores.scss';
.container {
    width: 90%;
    display: table;
    margin: auto;
    margin-top: 35px;
    .formulario {
        width: 100%;
        min-height: 50px;
        display: table;
        float: left;
        border: 1px solid $color-border;
        //margin-bottom: 10px;
        .topo {
            width: 100%;
            min-height: 45px;
            display: block;
            float: left;
            border-bottom: 1px solid $color-border;
            margin-bottom: 5px;
            padding: 5px;
            .bts {
                display: block;
                float: left;
                button {
                    transition: all .3s ease-in;
                    border-radius: 0;
                    font-size: 17px;
                    display: block;
                    float: left;
                    margin: 0 2px 0 2px;
                    background-color: $color-light;
                    color: white;
                    @media(max-width: 800px) {
                        margin: 3px;
                    }
                    &.new {
                        background-color: lighten($color-primary, 10%);
                    }
                    &.save {
                        background-color: $color-green;
                    }
                    &.clear {
                        background-color: $color-orange;
                    }
                    &.del {
                        background-color: $color-red;
                    }
                }
            }
        }
        .form-group {
            width: 100%;
            display: block;
            float: left;
            padding: 10px;
            .load {
                width: 100%;
                display: block;
                float: left;
                height: 15px;
            }
            form {
                width: 100%;
                display: block;
                float: left;
                .form-field {
                    display: block;
                    float: left;
                    width: 280px;
                    min-height: 35px;
                    margin-bottom: 20px;
                    margin: 5px;
                    label {
                        font-weight: bold;
                        margin-bottom: 10px;
                        display: block;
                        float: left;
                        width: 100%;
                    }
                    textarea {
                        width: 100%;
                        height: 100px;
                        resize: none;
                        padding: 10px;
                        font-size: 17px;
                        font-family: inherit;
                        &:disabled {
                            cursor: not-allowed;
                        }
                    }
                    input {
                        height: 35px;
                        font-size: 17px;
                        width: 100%;
                        float: left;
                        padding: 5px;
                        &:disabled {
                            cursor: not-allowed;
                        }
                    }
                    select {
                        height: 35px;
                        font-size: 17px;
                        width: 100%;
                        float: left;
                        padding: 5px;
                        &:disabled {
                            cursor: not-allowed;
                        }
                    }
                }
            }
        }
    }
    .table-container {
        width: 100%;
        display: block;
        float: left;
        border: 1px solid $color-border;
        margin-bottom: 30px;
        margin-top: 20px;
        table {
            width: 100%;
            background-color: #fafafa;
            user-select: none;
            border-collapse: collapse;
            thead {
                display: block;
                min-height: 40px;
                padding: 5px;
                tr {
                    th {
                        text-align: left;
                        height: 40px;
                        width: 294px;
                        font-size: 18px;
                    }
                }
            }
            tbody {
                display: block;
                max-height: 320px;
                overflow-y: auto;
                overflow-x: hidden;
                padding: 5px;
                &::-webkit-scrollbar {
                    width: 8px;
                }
                &::-webkit-scrollbar-track-piece {
                    width: 8px;
                    background: rgba(184, 184, 184, 0.60);
                }
                &::-webkit-scrollbar-thumb {
                    background: #888888;
                    border-radius: 3px;
                }
                tr {
                    border-bottom: 1px solid $color-border;
                    min-height: 40px;
                    transition: all .2s ease-in-out;
                    cursor: pointer;
                    &:hover {
                        background-color: $color-green;
                        color: #fff;
                    }
                    td {
                        text-align: left;
                        width: 300px;
                        height: 40px;
                        font-size: 17px;
                    }
                }
            }
        }
        // table {
        //     border-collapse: collapse;
        //     width: 100%;
        //     background-color: #fff;
        //     thead {
        //         background-color: #333;
        //         color: #fff;
        //         height: 45px;
        //         tr {
        //             width: 100%;
        //             height: 45px;
        //             th {
        //                 padding: 5px;
        //                 height: 35px;
        //                 text-align: left;
        //             }
        //         }
        //     }
        //     tbody {
        //         margin-bottom: 20px;
        //         tr {
        //             border-bottom: 1px solid #999;
        //             width: 100%;
        //             transition: all .2s ease-in;
        //             height: 45px;
        //             &:hover {
        //                 background-color: $color-green;
        //                 color: #fff;
        //                 cursor: pointer;
        //             }
        //             td {
        //                 padding: 5px;
        //                 height: 35px;
        //                 text-align: left;
        //             }
        //         }
        //     }
        // }
    }
}

.teste {
    width: 100%;
    height: 50px;
    display: block;
    float: left;
    input {
        width: 200px;
        height: 35px;
    }
}