<div class="container-reserva">
    <div class="left col">
        <div class="topo">
            <div class="title">
                <h2>{{restaurante.RazaoSocial}}</h2>
            </div>
        </div>
        <div class="conteudo">
            <div class="image"><img src="../assets/img/no-image.png" [alt]="restaurante.Descricao"></div>
            <div class="info"></div>
        </div>
    </div>
    <div class="right col">
        <div class="topo">
            <div class="title">
                <h3>Disponibilidade de Reserva</h3>
            </div>
        </div>
        <div class="conteudo">
            <div class="formGroup">
                <form>
                    <div class="form-field">
                        <input type="date" name="data">
                    </div>
                    <div class="form-field">
                        <select name="horario">
                          <option value="1">18:00</option>
                      </select>
                    </div>
                    <div class="form-field">
                        <select name="qtdPessoass">
                          <option value="1">1 pessoa</option>
                          <option value="2">2 pessoas</option>
                      </select>
                    </div>
                    <div class="form-field">
                        <button mat-button type="submit">Verificar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>