<div class="container-login">
    <div class="topo">
        <div class="logo">
            <h2>Reservas <i class="fa fa-cutlery"></i></h2>
        </div>
    </div>
    <div class="form-login">
        <form [formGroup]="formulario" (submit)="onSubmit($event)">
            <div class="form-field">
                <div class="icon-field"><i class="fa fa-user"></i></div>
                <div class="input-field">
                    <input type="text" formControlName="email" placeholder="E-mail">
                </div>
            </div>
            <div class="form-field">
                <div class="icon-field"><i class="fa fa-lock"></i></div>
                <div class="input-field">
                    <input type="password" formControlName="senha" placeholder="Senha">
                </div>
            </div>
            <div class="normal-field form-field">
                <div class="bt input-field">
                    <button mat-button type="submit" [disabled]="!formulario.valid">ACESSAR</button>
                </div>
                <div class="load">
                    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
                </div>
            </div>
        </form>
    </div>
    <div class="rodape">
        <div class="field">
            <a href="#"><i class="fa fa-question-circle"></i> Esqueceu a Senha?</a>
        </div>
        <div class="field">
            <a [routerLink]="['/Cadastro']"><i class="fa fa-address-card"></i> Cadastro</a>
        </div>
    </div>
</div>

<!-- <div class="outs">
    <button type="button" (click)="openDialog()">Open Dialog</button>
</div> -->