<div class="container-login">
    <div class="topo">
        <div class="logo">
            <h2>Reservas <i class="fa fa-cutlery"></i></h2>
        </div>
    </div>
    <div class="form-login">
        <form>
            <div class="form-field">
                <div class="icon-field"><i class="fa fa-user"></i></div>
                <div class="input-field">
                    <input type="text" name="user" placeholder="E-mail">
                </div>
            </div>
            <div class="form-field">
                <div class="icon-field"><i class="fa fa-lock"></i></div>
                <div class="input-field">
                    <input type="password" name="pass" placeholder="Senha">
                </div>
            </div>
            <div class="form-field">
                <div class="input-field">
                    <button mat-button type="button">ACESSAR</button>
                </div>
            </div>
        </form>
    </div>
</div>