<div class="container-cadastro">
    <div class="topo">
        <div class="logo">
            <h2>Reservas <i class="fa fa-cutlery"></i></h2>
        </div>
    </div>
    <div class="form-cadastro">
        <form [formGroup]="formulario" (submit)="onSubmit($event)">
            <div class="form-field">
                <div class="icon-field"><i class="fa fa-user-circle"></i></div>
                <div class="input-field">
                    <input type="text" formControlName="nomeUsuario" minlength="3" placeholder="Nome">
                </div>
            </div>
            <div class="form-field">
                <div class="icon-field"><i class="fa fa-user"></i></div>
                <div class="input-field">
                    <input type="text" formControlName="email" email placeholder="E-mail">
                </div>
            </div>
            <div class="form-field">
                <div class="icon-field"><i class="fa fa-lock"></i></div>
                <div class="input-field">
                    <input type="password" minlength="8" formControlName="senha" placeholder="Senha">
                </div>
            </div>
            <div class="form-field">
                <div class="icon-field"><i class="fa fa-lock"></i></div>
                <div class="input-field">
                    <input type="password" minlength="8" formControlName="csenha" placeholder="Confirmar Senha">
                </div>
            </div>
            <div class="normal-field form-field">
                <div class="bt input-field">
                    <button mat-button type="submit" [disabled]="!formulario.valid">CADASTRAR</button>
                </div>
                <div class="load">
                    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
                </div>
            </div>
        </form>
    </div>
</div>