<div class="container-search">
    <div class="title-search">
        <h2>Os melhores restaurantes em {{cidadeAtual.Descricao}}</h2>
        <h4>{{qtdSearch}} restaurantes correspondem a sua pesquisa</h4>
    </div>
    <ul>
        <li *ngFor="let item of lista">
            <a [routerLink]="['/Buscas/Reserva', item.RID]">
                <div class="image"><img [src]="item.ImgSrc" [alt]="item.Descricao"></div>
                <div class="description">
                    <div class="tit">
                        <h3>{{item.Descricao}}</h3>
                    </div>
                    <div class="endereco"><span>{{item.Endereco}}</span></div>
                </div>
                <div class="avaliacao">
                    <div class="val">
                        <h2>9,2</h2>
                        <span>/10</span>
                    </div>
                    <div class="qtd"><span>77 avaliações</span></div>
                </div>
            </a>
        </li>
    </ul>
</div>