<header class="cabecalho">
    <div class="area-1">
        <div class="logo">
            <a [routerLink]="['/Buscas']" (click)="formulario.reset()"><span>Reservas <i class="fa fa-cutlery"></i></span></a>
        </div>
    </div>
    <div class="area-2">
        <div class="container-busca">
            <div class="title">
                <h3>Encontre Restaurantes e Reserve sua Mesa!</h3>
            </div>
            <div class="formulario">
                <form [formGroup]="formulario">
                    <div class="form-field">
                        <span><i class="fa fa-map-marker"></i></span>
                        <input type="text" formControlName="LocalName" (keyup)="onKeyUpCidades()" placeholder="Onde quero reservar">
                    </div>
                    <div class="form-field">
                        <span><i class="fa fa-search"></i></span>
                        <input type="text" formControlName="StrRestaurante" (keyup)="onKeyUpRestaurante()" placeholder="Buscar por restaurante">
                    </div>
                    <nav class="lst">
                        <ul [ngClass]="{'ul-active':clickLst}">
                            <li *ngFor="let cidade of lstCidades"><a (click)="onClickCidades(cidade)">{{cidade.Nome}}</a></li>
                        </ul>
                    </nav>
                </form>
            </div>
        </div>
    </div>
</header>
<section class="routes">
    <router-outlet></router-outlet>
</section>
<!-- <mat-spinner *ngIf="load"></mat-spinner> -->