$color-primary: #01579B;
$color-secondary:#ddf;
$color-green:#00C853;
$color-red:#F44336;
$color-font-1:rgb(56, 50, 50);
$color-light:#d1d1d1;
$color-light2:rgba(222, 222, 222, 0.2);
$color-orange:#FF7F00;
$color-light3:rgba(255, 255, 255, 0.85);
$color-border: #adadad;