<div class="container-reserva">
    <div class="col-left">
        <div class="topo">
            <div class="title">
                <h2>{{restaurante.Descricao}}</h2>
            </div>
            <div class="sub-title">
                <h4>{{restaurante.Endereco}}</h4>
            </div>
        </div>
        <div class="body-left">
            <div class="image"><img [src]="restaurante.ImgSrc" [alt]="restaurante.Descricao"></div>
            <div class="info">
                <mat-tab-group>
                    <mat-tab label="Informações">Content 1</mat-tab>
                    <mat-tab label="Galeria">Content 2</mat-tab>
                    <mat-tab label="Avalições">Content 3</mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
    <div class="col-right">
        <div class="topo-right">
            <div class="title-topo">
                <h3>Disponibilidade de Reserva</h3>
            </div>
        </div>
        <div class="body-right">
            <div class="container-form">
                <form>
                    <div class="form-field">
                        <input type="date" name="data">
                    </div>
                    <div class="form-field">
                        <select name="horario">
                            <option value="1">18:00</option>
                        </select>
                    </div>
                    <div class="form-field">
                        <select name="qtdPessoass">
                            <option value="1">1 pessoa</option>
                            <option value="2">2 pessoas</option>
                        </select>
                    </div>
                    <div class="form-field">
                        <button mat-button type="submit">Verificar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>