<header class="cabecalho">
    <div class="container-top">
        <div class="logo">
            <a [routerLink]="['/Buscas']"><span>Reservas <i class="fa fa-cutlery"></i></span></a>
        </div>
        <div class="menu">
            <div class="bt-open">
                <button type="button" (click)="onClickMenu(true)"><i class="fa fa-align-justify"></i></button>
            </div>
            <div class="lst" [ngClass]="aplicarCss(1)">
                <div class="bt-close">
                    <button type="button" (click)="onClickMenu(false)">X</button>
                </div>
                <nav>
                    <ul>
                        <li *ngFor="let route of routing">
                            <a *ngIf="route.Ativo" routerLinkActive="active" [routerLink]="route.Link" (click)="onClickMenu(false)"> <i [class]="route.Iclass" aria-hidden="true"></i> {{route.Descricao}}</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="user">
            <button type="button" class="bt" (click)="onClickBtUser()">{{userSession.UserName}}</button>
            <nav [ngClass]="aplicarCss(2)">
                <ul>
                    <li><a [routerLink]="['/Usuarios/Admin/Perfil']" (click)="onClickBtUser(false)"><i class="fa fa-user" aria-hidden="true"></i> Conta</a></li>
                    <li><button type="button" (click)="exit()"><i class="fa fa-sign-out"></i> Sair</button></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<section class="routes">
    <router-outlet></router-outlet>
</section>